.cover__title {
    margin: 0;
    padding-top: 245px;
    border:  1px solid red;
    position: relative;
    width: 560px;
    height: 152px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    text-align: center;
    color: #FFFFFF;
    opacity: 2;

}