.place__paragraph {
    margin: 0 0 26px;
    font-style: normal;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .place__paragraph:last-of-type {
    margin-bottom: 0;
  }
  
