.intro {
    margin-top: 92px;
    padding-left: 148px;
    padding-right: 442px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(690px + 148px);
    min-height: 429px;
    }

    @media screen and (max-width: 768px) {
        .intro {
            padding: 88px 0;
            maxowidth: 720px;
            max-width: calc(100% -48px);
            align-items: center;

        }
    }
    @media screen and (max-width: 470px) {
        .intro {
            max-width: 288px;
            padding: 64px 0;
            max-width: calc(100%-32px);
            align-items: center;
        }
    }