.lead__title {
    border: 1px solid red;
    width: 720px;
    min-height: 200px;
    margin: 0;
    padding-top: 56px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */
    text-align: center;
}