.cover__subtitle {
    position: relative; /* для прозрачности */
    width: 360px;
    margin: 32px 0 0 0;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: none;
}